{% extends "main/header.html" %}
{% block content %}
<script>
  function Sep() {
    document.getElementById("loading").style.display = "block";
    location.href='{% url 'sep' audio %}';
  }
</script>
<main role="main" class="inner cover">
  <h2 class="cover-heading">File uploaded</h2>
  <p class="lead">How does it sound?</p>
  <div class="lead">
  </div>
    <p>
      <audio controls>
        <source src='/media/{{audio}}' type="audio/wav">
      </audio>
    </p>
    <p>
      Your file: "{{ audio }}", so noisy!
    </p>
    <p class="lead">
      <button onclick="Sep()"> Separate </button>
    </p>
    <div id="loading" style="display: none;">
      <img src="/media/loading.gif" alt="LOADING!!!" width="20%" height="20%">
    </div>
</main>
{% endblock %}
