{% extends "main/header.html" %}
{% block content %}
<main role="main" class="inner cover">
  <h2 class="cover-heading">Separation complete!</h2>
  <div class="lead">
  </div>
    <p>
      Your old noisy file "{{ mixture }}"
    </p>
    <p>
      <audio controls>
        <source src='/media/{{mixture}}' type="audio/wav">
      </audio>
    </p>
    <p>
      Your new clean speech file "{{ speech }}"
    </p>
    <p>
      <audio controls>
        <source src='/media/{{speech}}' type="audio/wav">
      </audio>
    </p>
</main>
{% endblock %}
